---
- name: Get hostname
  ansible.builtin.command: hostnamectl --static
  register: nowhostname
  changed_when: false
    
- name: Set hostname
  ansible.builtin.command: hostnamectl set-hostname "{{ hostname }}"
  when: hostname|length >0 and nowhostname.stdout != hostname
