---

- import_tasks: update_packages_cache.yml
- import_tasks: update_packages.yml
- import_tasks: hostname.yml
- import_tasks: update_timezone.yml
- import_tasks: update_locale.yml
- import_tasks: ipv6.yml
- import_tasks: enable_firewall.yml
